//colors
$brand-primary:                         #ff4838 !default;
$navbar-default-bg:                     $brand-primary !default;
$navbar-default-link-color:             #ffffff !default;
$text-color:                            #585858 !default;
$headings-color:                        #000000 !default;
$about-us-section-bg:                   #f2f2f2 !default;

$navbar-height:                         47px !default;
$font-family-base:                      'Work Sans' !default;
$headings-font-family:                  'Roboto Slab' !default;

//grid
$container-md:                          1195px !default;
$container-lg:                          $container-md !default;
$grid-gutter-width:                     20px !default;

//footer
$footer-text-color:                       #999999;
$footer-bg:                               #363636;

//link
$link-hover-decoration:                  none !default;
